  <header>
    <div class="menu-div">
      <!--<label for="show-menu" class="show-menu"><i class="fa fa-bars"></i></label>
      <input type="checkbox" id="show-menu" role="button">-->
      <ul class="menu-ul">
          <li class="menu-li"><a [routerLink]="['/register']">Register</a></li>
          <li class="menu-li"><a [routerLink]="['/login']">Login</a>
      </ul>
    </div>
    <!-- <img class="projLogo" src="assets/images/kplogo.svg"> -->
    <span class="projName">Book Library</span>
  </header>
